@page "/counter"
@inherits MvvmComponentBase<CounterViewModel>
@rendermode InteractiveServer


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @ViewModel.CurrentCount</p>

<button class="btn btn-primary" @onclick="ViewModel.IncrementCountCommand.Execute">Click me</button>