@* @page "/callback/login" *@
@* @model OpenIddict.Web1.Pages.LoginCallback *@
@* *@
@* @{ *@
@*     Layout = null; *@
@* } *@
@* *@
@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title></title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*      *@
@* </div> *@
@* </body> *@
@* </html> *@