@page
@model Counter

@{
    ViewData["Title"] = "Counter";
}

<div class="card p-5">
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-primary btn-lg"
                    hx-post=""
                    hx-target="#target_count">
                <i class="fa fa-plus-circle"></i>
                Increment
            </button>
        </div>
        <div>
            <h2 class="fs-2 fw-bold" id="target_count">
                <span>0</span>
            </h2>
        </div>
    </div>
</div>