@page
@model Select

<div class="card p-4">
    <div class="mb-3">
        <label asp-for="Cuisine" class="form-label">Select a Cuisine</label>
        <select asp-for="Cuisine" asp-items="Model.CuisineItems" class="form-select"
                hx-target="#foods"
                hx-get="@Url.Page("Select", "Foods")"></select>
    </div>
    <div>
        <label asp-for="Food" class="form-label">Select a Food</label>
        <select id="foods" asp-for="Food" asp-items="Model.CuisineItems" class="form-select"></select>
    </div>
</div>