@page "/login"
@model OpenIddict.Web1.Components.Pages.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>Go to login</p>
</div>
</body>
</html>